# Chezmoi configuration
# This file is templated and applied during `chezmoi init`

encryption = "age"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1fhew9x6ct2rppwhy4qhnx0jlg6ae4nx66uyq7flnltnlqzhlh9ms9yaymq"
